@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--primary-text: var(--color-amber-100);
	--secondary-text: var(--color-neutral-100);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-rub: var(--font-rubik);
	--color-primary: var(--primary-text);
	--color-secondary: var(--secondary-text);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-rubik);
}
